{% extends 'base.html' %}
{% load static %}

{% block content %}

		<!-- PAGE CONTENT
		============================================= -->
		<div id="page" class="page">




			<!-- PAGE HERO
			============================================= -->
			<div id="menu-page" class="page-hero-section division">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">
                                <h2 class="h2-xl">Coș</h2>
							</div>
						</div>
					</div>	  <!-- End row -->
				</div>	   <!-- End container -->
			</div>	<!-- END PAGE HERO -->

            <section id="cart-1" class="wide-100 cart-page division">
                <div class="container">
                    <!-- CART TABLE -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-table mb-70">
                                <table id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Preț</th>
                                            <th scope="col">Сantitate</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Eliminarea</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_product in cart %}
                                        <tr>
                                            <td data-label="Product" class="product-name">
                                                <!-- Preview -->
                                                <div class="cart-product-img">
                                                    {% if cart_product.product.image %}
                                                    <img src="{{ cart_product.product.image.url }}" alt="cart-preview">
                                                    {% else %}
                                                    <img src="{% static 'placeholder_food.webp' %}" alt="cart-preview">
                                                    {% endif %}
                                                </div>
                                                <!-- Description -->
                                                <div class="cart-product-desc">
                                                    <h5 class="h5-sm">{{ cart_product.product.name }}</h5>
                                                    <p class="p-sm">{{ cart_product.product.composition }}</p>
                                                </div>
                                            </td>
                                            <td data-label="Preț" class="product-price">
                                                <h5 class="h5-md">{{ cart_product.product.price_1 }} Lei</h5>
                                            </td>
                                            <td data-label="Сantitate" class="product-qty">
                                                <form method="POST" action="{% url 'update_cart' cart_product.product.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="cart_product_id" value="{{ cart_product.product.id }}">
                                                    <input class="qty" type="number" min="1" max="20" name="quantity" value="{{ cart_product.quantity }}">
                                                    <button type="submit"><i class="fas fa-sync"></i></button>
                                                </form>
                                            </td>
                                            <td data-label="Total" class="product-price-total">
                                                <h5 class="h5-md">{{ cart_product.total_price }} Lei</h5>
                                            </td>
                                            <td data-label="Eliminarea" class="td-trash">
                                                <a href="{% url 'remove_from_cart' cart_product.product.id %}">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END CART TABLE -->
                    <!-- CART CHECKOUT -->
                    <div class="row">
                        <!-- CHECKOUT -->
                        <div class="col-lg-4">
                            <div class="cart-checkout bg-lightgrey">
                                <!-- Title -->
                                <h5 class="h5-lg">Ordine total</h5>
                                <!-- Table -->
                                <table>
                                    <tbody>
                                        <tr class="last-tr">
                                            <td>Total</td>
                                            <td> </td>
                                            <td class="text-right">{{ total_price }} Lei</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END CHECKOUT -->
                    </div>
                    <!-- END CART CHECKOUT -->
                </div>
                <!-- End container -->
            </section>
            <!-- END CART PAGE -->

		</div>	<!-- END PAGE CONTENT -->


{% endblock %}