{% extends 'base.html' %}
{% load static %}

{% block content %}

		<!-- PAGE CONTENT
		============================================= -->
		<div id="page" class="page">

			<!-- PAGE HERO
			============================================= -->
			<div id="menu-page" class="page-hero-section division">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">

								<!-- Breadcrumb -->
								<div id="breadcrumb">
									<div class="row">
										<div class="col">
											<div class="breadcrumb-nav">
												<nav aria-label="breadcrumb">
												  	<ol class="breadcrumb">
												    	<li class="breadcrumb-item"><a href="{% url 'index' %}">Principală</a></li>
												  	</ol>
												</nav>
											</div>
										</div>
									</div>
								</div>

								<!-- Title -->
								<h2 class="h2-xl">{{ category.name }}</h2>

							</div>
						</div>
					</div>	  <!-- End row -->
				</div>	   <!-- End container -->
			</div>	<!-- END PAGE HERO -->

            <!-- MENU-6
			============================================= -->
			<section id="menu-3" class="wide-100 menu-section division">
    <div class="container">
        <!-- MENU-3 IMAGE -->
        <div class="menu-3-img mb-60">
            <div class="row">
                <div class="col-md-12">
                    {% if category.foto and not category.parent_category %}
                    <img class="img-fluid" src="{{ category.foto.url }}" alt="menu-image">
                    {% else %}
                    <img class="img-fluid" src="{% static 'placeholder.webp' %}" alt="menu-image">
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- MENU-3 WRAPPER -->
        <div class="menu-3-wrapper item-data-meat-hover">
            <!-- Title -->
            <div class="row">
                <div class="col-md-12">
                    {% if not category.parent_category %}
                    <div class="menu-3-title"><h3 class="h3-md meat-color">{{ category.name }}</h3></div>
                    {% else %}
                    <div class="menu-3-title"><h4 class="h4-md">{{ category.subcategory.name }}</h4></div>
                    {% endif %}
                </div>
            </div>
            <!-- Subcategories or Items -->
            <div class="row">
                {% if category.subcategories.exists %}
                <!-- Subcategories -->
                {% for subcategory_data in subcategories_data %}
                <div class="col-md-12">
                    <div class="menu-3-title"><h4 class="h4-md">{{ subcategory_data.subcategory.name }}</h4></div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-3-txt">
                        <ul class="menu-3-list">
                            {% for product in subcategory_data.left_products %}
                            <!-- MENU ITEM-1 -->
                            <li class="menu-3-item">
                                <a href="{{ product.get_absolute_url }}">
                                    <!-- Title & Price -->
                                    <div class="menu-title-wrapper rel">
                                        <div class="menu-item-title"><h6 class="h6-xs">{{ product.name }}</h6></div>
                                        <div class="menu-item-dots"></div>
                                        <div class="menu-item-price"><h6 class="h6-xs">{{ product.price_1 }} Lei</h6></div>
                                        <div class="menu-3-item-data bg-grey"><h6 class="h6-xs grey-color">{{ product.volume_1 }}{% if product.volume_choice %} {{ product.volume_choice }}{% endif %}</h6></div>
                                    </div>
                                    <!-- Description -->
                                    {% if product.composition %}
                                    <div class="menu-item-desc">
                                        <p>{{ product.composition }}</p>
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-3-txt">
                        <ul class="menu-3-list">
                            {% for product in subcategory_data.right_products %}
                            <!-- MENU ITEM-1 -->
                            <li class="menu-3-item">
                                <a href="{{ product.get_absolute_url }}">
                                    <!-- Title & Price -->
                                    <div class="menu-title-wrapper rel">
                                        <div class="menu-item-title"><h6 class="h6-xs">{{ product.name }}</h6></div>
                                        <div class="menu-item-dots"></div>
                                        <div class="menu-item-price"><h6 class="h6-xs">{{ product.price_1 }} Lei</h6></div>
                                        <div class="menu-3-item-data bg-grey"><h6 class="h6-xs grey-color">{{ product.volume_1 }}{% if product.volume_choice %} {{ product.volume_choice }}{% endif %}</h6></div>
                                    </div>
                                    <!-- Description -->
                                    {% if product.composition %}
                                    <div class="menu-item-desc">
                                        <p>{{ product.composition }}</p>
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <!-- Items -->
                <div class="col-lg-6">
                    <div class="menu-3-txt">
                        <ul class="menu-3-list">
                            {% for product in left_products %}
                            <!-- MENU ITEM-1 -->
                            <li class="menu-3-item">
                                <a href="{{ product.get_absolute_url }}">
                                    <!-- Title & Price -->
                                    <div class="menu-title-wrapper rel">
                                        <div class="menu-item-title"><h6 class="h6-sm">{{ product.name }}</h6></div>
                                        <div class="menu-item-dots"></div>
                                        <div class="menu-item-price"><h6 class="h6-sm">{{ product.price_1 }}{% if product.price_2%}/{{ product.price_2 }}{% endif %} lei</h6></div>
                                        <div class="menu-3-item-data bg-grey"><h6 class="h6-xs grey-color">{{ product.volume_1 }}{% if product.volume_choice %} {{ product.volume_choice }}{% endif %}</h6></div>
                                    </div>
                                    <!-- Description -->
                                    {% if product.composition %}
                                    <div class="menu-item-desc">
                                        <p>{{ product.composition }}</p>
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="menu-3-txt">
                        <ul class="menu-3-list">
                            {% for product in right_products %}
                            <!-- MENU ITEM-1 -->
                            <li class="menu-3-item">
                                <a href="{{ product.get_absolute_url }}">
                                    <!-- Title & Price -->
                                    <div class="menu-title-wrapper rel">
                                        <div class="menu-item-title"><h6 class="h6-xs">{{ product.name }}</h6></div>
                                        <div class="menu-item-dots"></div>
                                        <div class="menu-item-price"><h6 class="h6-xs">{{ product.price_1 }} Lei</h6></div>
                                        <div class="menu-3-item-data bg-grey"><h6 class="h6-xs grey-color">{{ product.volume_1 }}{% if product.volume_choice %} {{ product.volume_choice }}{% endif %}</h6></div>
                                    </div>
                                    <!-- Description -->
                                    {% if product.composition %}
                                    <div class="menu-item-desc">
                                        <p>{{ product.composition }}</p>
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div> <!-- END MENU-3 WRAPPER -->
    </div> <!-- End container -->
</section> <!-- END MENU-3 -->

		</div>	<!-- END PAGE CONTENT -->

{% endblock %}